.header{
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  height: 71px;
  transition: all 1s;
}
.header.active{
  position: fixed;
  z-index: 10;
  animation: fixed 1s;
}
@keyframes fixed {
  from{
    transform: translateY(-71px);
    background: #fff;
  }
  to{
    transform: translateY(0px);
    background: rgba(255,255,255,0.9);
  }
}
.header>.headerCon{
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
  font: 16px/1.5 latoregular, Vwedana, sans-serif;
}
.header>.headerCon>.headerLogo{
  float: left;
}
.header>.headerCon>.headerLogo>a{
  height: 65px;
  display: block;
}
.header>.headerCon>.headerLogo>a>img{
  margin-top: 10px;
}
.header>.headerCon>.headerConLeft{
  float: right;
  height: 42px;
  margin-top: 10px;
}
.header>.headerCon>.headerConLeft>.headernavList>.navItem{
  float: left;
}
.header>.headerCon>.headerConLeft>.headernavList>.navItem>a{
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 15px;
  font-weight: 900;
  color: #000000;
}
.header>.headerCon>.headerConLeft>.headernavList>.navItem .hoverC:hover{
  color: #e94840;
}
.header>.headerCon>.headerConLeft>.headernavList>.navItem .active{
  color: #e94840;
}
.header>.headerCon>.headerConLeft>.headernavList>.navItem:first-child{
  margin-right: 50px;
}
.header>.headerCon>.headerConLeft>.headernavList>.navItem>a>img{
  vertical-align: middle;
}
.header>.headerCon>.headerConLeft>.headernavList>.navItem>a>span{
  font-weight: 700;
}
.header>.headerCon>.headerConLeft>.headernavList>.navItem>.login{
  background: #e94840;
  border-radius: 10px;
  padding: 4px 6px;
  margin: 6px 15px 0 15px;
  color: #ffffff;
}